@font-face {
    font-family: "Semi";
    src: url(/storage/font/encode-sans/EncodeSans-SemiBold.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(/storage/font/encode-sans/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(/storage/font/encode-sans/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "Mixed";
    src: url(/storage/font/encode-sans/EncodeSans-Medium.ttf);
}   

.gridcontainer{
    display: grid;
    grid-template-rows: 10vh 45vh 35vh 10vh;
    margin-top: 0;
    margin: 3vw;
}
.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
}
#back{
    left: 0;
    width: 10vw;
}
#title{
    font-family: "Semi", sans-serif;
    color: #1B2028;
}
#bars{
    width: 10vw;
}
.productos{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.galeria{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    border: 1px solid red;
}
.contenido{
    border: 1px solid black;
    height: 100%;
}
.imagen{
    display: flex;
    align-items: center;
}
#model{
    width: 100%;
    border-radius: 3vw;
}
#title{
    font-family: "Semi", sans-serif;
    color: #1B2028;
    margin: 0;
}
#description{
    font-family: "Regular", sans-serif;
    color: #A4AAAD;
    font-size: 3vw;
    margin: 0vw;
}
#price{
    font-family: "Semi", sans-serif;
    color: #1B2028;
    font-size: 3.5vw;
    margin: 0;
    margin-top: 4vw;
}
.menu{
    position: relative;
}
.cantidad{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1B2028;
    height: 4vw;
    position: absolute;
    margin: 1vw;
    right: 0;
    bottom: 0;
    width: 19vw;
    padding: 1vw;
    border-radius: 2vw;
}
#menos{
    margin: 0;
    width: 5vw;
}
#number{
    color: white;
    font-size: 4vw;
}
#mas{
    margin: 0;
    width: 5vw;
}
#points{
    position: absolute;
    margin: 1vw;
    right: 0;
}
#barr{
    margin: 3vw;
    width: calc(100% - (6vw));
}
.pago{
    border: 1px solid yellow;
}
#title2{
    font-family: "Semi", sans-serif;
    font-size: 4vw;
}
#serial{
    margin-left: 5vw;
    color: black;
    font-family: "Regular", sans-serif;
}
.card{
    margin-left: 6vw;
    display: flex;
    flex-direction: row;
}
#down{
    width: 6vw;
    margin-left:22vw;
}
.cont1{
    display: flex;
    flex-direction: row;
}
#item1{
    font-family: "Regular", sans-serif;
    color: #1B2028;
    margin-right: 50vw;
}
#num1{
    font-family: "Semi", sans-serif;
    color: #1B2028;
}
.cont2{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
#item2{
    font-family: "Regular", sans-serif;
    color: #1B2028;
    margin: 0;
    margin-right: 54vw;
}
#num2{
    margin: 0;
    font-family: "Semi", sans-serif;
    color: #1B2028;
}
.cont3{
    display: flex;
    flex-direction: row;
}
#item3{
    margin-top: 9vw;
    font-family: "Regular", sans-serif;
    color: #1B2028;
    margin-right: 59vw;
}
#num3{
    margin-top: 9vw;
    font-family: "Semi", sans-serif;
    color: #1B2028;
}
.barra{
    border: 1px solid green;
}