@font-face {
    font-family: "Regular";
    src: url(/storage/font/encode-sans/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(../storage/font/encode-sans/EncodeSans-Bold.ttf);
}
#welcome{
    font-family: "Regular", sans-serif;
}
#name{
    font-family: "Bold", sans-serif;
}
#img{
    
}
