@font-face {
    font-family: "Regular";
    src: url(/storage/font/encode-sans/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(../storage/font/encode-sans/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(/storage/font/encode-sans/EncodeSans-Medium.ttf);
}
@font-face {
    font-family: "Semi";
    src: url(/storage/font/encode-sans/EncodeSans-SemiBold.ttf);
}
.gridcontainer{
    margin: 4vw;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 70vh;
}
.item1{
    justify-content: space-between;
    display: flex;
    grid-template-columns: 70% 30%;
}
.perfil{
    width: 8vh;
    height: 8vh;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
#welcome{
    font-size: 4.3vw;
    font-family: "Regular", sans-serif;
    margin: 0;
    margin-bottom: 0.4vw;
}
#name{
    font-size: 4.5vw;
    margin: 0;
    font-family: "Bold", sans-serif;
}
#img{
    border-radius: 50%;
    width: 13vw;
}

.principal{
    display: inline-block;
}
.contperfil{
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    display: flex;
}
.secundario input{
    padding-left: 30px;
}
.secundario .lupa{
    position: absolute;
}
.secundario{
    font-family: "Regular", sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    justify-content: space-between;
    margin-left: 10px;
}
.item2{
    display: grid;
    grid-template-columns: 80% 20%;
}

.division{
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra{
    margin: 4px;
    height: 10vw;
    border-radius: 4vw;
    border: none;
    border: 1px solid #87878730;
    font-size: 4.5vw;
    width: 80%;
    outline: none;
    
}
.lupa{
    width: 6vw;
    margin: 10px;
}
#filtros{
    width: 13vw;
}
.item3{
    display: flex;
    overflow-x: auto;
}
.terciario{
    display: flex;
    align-items: center;
    gap: 7px;
    flex-direction: row;
    font-family: "Medium", sans-serif;
}
.icono:hover{
    filter: invert();
    background-color: white;
}
#dress{
    filter: invert();
}
.icono{
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.7vw;
    padding-bottom: 1.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vh;
    border: 1px solid #878787;
    border-radius: 3vw;
}
.txt{
    margin-left: 5px;
    text-wrap: nowrap;
}
.item4{
    height: 55vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    gap: 4vw;
    flex-direction: row;
}
#modern{
    font-family: "Semi", sans-serif;
    color: #1B2028;
}
#dres{
    color: #A4AAAD;
    font-family: "Regular", sans-serif;
}
#price{
    font-family: "Semi", sans-serif;
}
.cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#star{
    display: inline-block;
}
.columna{
    flex: 50%;
}
.conthijos{
    display: flex;
    align-items: center;
    justify-content: right;
}
#calificacion{
    font-family: "Regular", sans-serif;
    margin-left: 7px;
}
#photo{
    width: 100%;
    border-radius: 4vw;
}
.images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#corazon{
    width: 7vw;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3vw;
    margin-top: 3vw;
}
#corazoninvert{
    width: 7vw;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 3vw;
    margin-top: 3vw;
}
.navigationBar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    margin: 3vw;
    margin-top: 0;
    margin-left: 4vw;
    width: calc(100% - (12vw));
    height: 10vh;
    z-index: +1;
    bottom: 0;
    background-color: #292526;
    border-radius: 12vw;
    box-shadow: 0 -6vw 20vw 4vw rgb(255, 255, 255);
}

.navigationitem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationImg{
    width: 9vw;
    height: 4.6vh;
}

.NitemF{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6vw;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #FFFFFF05;
}

.NitemF:hover{
    background-color: #FFFFFF40;
}
