@font-face {
    font-family: "Regular";
    src: url(/storage/font/encode-sans/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "Bold";
    src: url(../storage/font/encode-sans/EncodeSans-Bold.ttf);
}
.gridcontainer{
    border: 1px solid black;
    margin: 2vw;
}
#welcome{
    font-family: "Regular", sans-serif;
}
#name{
    font-family: "Bold", sans-serif;
}
#img{
    transform: translate();
    border-radius: 70%;
    
}
