<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <div class="gridcontainer">
        <div class="navegacion">
            <img id="back" src="/storage/img/back.svg">
            <p id="title">Checkout</p>
            <img id="bars" src="/storage/img/sidebar.svg">
        </div>
        <div class="productos">
            <div class="galeria">
                <div class="imagen">
                    <img id="model" src="/storage/img/Image.svg">
                </div>
                <div class="contenido">
                    <p id="title">Modern light clothes</p>
                    <p id="description">Dress modern</p>
                    <p id="price">$212.99</p>
                </div>
                <div class="menu">
                    <div class="cantidad">
                        <img id="menos" src="/storage/img/Group 3251.svg">
                        <p id="number">4</p>
                        <img id="mas" src="/storage/img/plus.svg">
                    </div>
                    <img id="points" src="/storage/img/menu.svg">
                </div>
            </div>
            <img id="barr" src="/storage/img/Line 3.png">
            <div class="galeria">
                <div class="imagen">
                    <img id="model" src="/storage/img/Image 2.svg">
                </div>
                <div class="contenido">
                    <p id="title">Modern light clothes</p>
                    <p id="description">Dress modern</p>
                    <p id="price">$212.99</p>
                </div>
                <div class="menu">
                    <div class="cantidad">
                        <img id="menos" src="/storage/img/Group 3251.svg">
                        <p id="number">1</p>
                        <img id="mas" src="/storage/img/plus.svg">
                    </div>
                    <img id="points" src="/storage/img/menu.svg">
                </div>
            </div>
            <img id="barr" src="/storage/img/Line 3.png">
            <div class="galeria">
                <div class="imagen">
                    <img id="model" src="/storage/img/Image 3.svg">
                </div>
                <div class="contenido">
                    <p id="title">Modern light clothes</p>
                    <p id="description">Dress modern</p>
                    <p id="price">$212.99</p>
                </div>
                <div class="menu">
                    <div class="cantidad">
                        <img id="menos" src="/storage/img/Group 3251.svg">
                        <p id="number">4</p>
                        <img id="mas" src="/storage/img/plus.svg">
                    </div>
                    <img id="points" src="/storage/img/menu.svg">
                </div>
            </div>
        </div>


















        
        <div class="pago">



        </div>
        <div class="barra">



        </div>
    </div>
</body>
</html>