<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body> 
    <main class="detail">
        <section id="main__section__gallery" class="main__section">
            <!-- <article class="main__product">
                <div class="main__image">
                    <img src="../storage/img/img1.jpg">
                </div>
                <div class="product__menu">
                    <a href="../">
                        <img src="../storage/img/back.svg">
                    </a>
                    <img src="../storage/img/heart.svg">
                </div>
            </article> -->
        </section>
        <section id="product__title" class="main__section">
            <!-- <article class="product__detail">
                <div class="detail__main">
                    <h1>Modern light clothes</h1>
                    <div class="product__cuantity">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg" alt="">
                    </div>
                </div>
                <div class="star__score">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <span>5.0</span>
                    <a href="#">(7.932 reviews)</a>
                </div>
            </article> -->
        </section>
        <section class="main__section">
            <article class="product__description">
                <p>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes <strong> Read More ...</strong></p>
            </article>
            <hr>
        </section>
        <section class="main__section">
            <article class="personalize__product">
                <div class="select__size">
                    <h5>Choose Size</h5>
                    <div>
                        <img src="../storage/img/Size s.svg">
                        <img src="../storage/img/Size m.svg">
                        <img src="../storage/img/Size l.svg">
                        <img src="../storage/img/Size xl.svg">
                    </div>
                </div>
                <div class="select__color">
                    <h5>Color</h5>
                    <div>
                        <img src="../storage/img/1.svg">
                        <img src="../storage/img/2.svg">
                        <img src="../storage/img/3.svg">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer__pay">
        <ul class="footer__bar">
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $100.99 <del><sub>$190.99</sub></del> </span>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>