<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/storage/img/avance.ico" type="image/x-icon">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="gridcontainer">
        <div class="foto">
            <img id="señora" src="/storage/img/image 44.svg">
            <img id="back" src="/storage/img/backk.svg">
            <img id="corazon" src="/storage/img/Group 3248.svg">
        </div>
        <div class="descripcion">
            <p title="title">Modern light clothes</p>
        </div>
        <div class="detalles">

        </div>
        <div class="barra">

        </div>
    </div>
    
</body>
</html>